
<!DOCTYPE html>
<html>
<head>
	<meta charset="uft-8">
	<title>listar</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<h3>Esta seguro?</h3>
<br><br>
<h5>Esta seguro de que quiere borrar los datos del alumno<span class="label label-success">{{alumno.nombres}} {{alumno.apellidos}}</span>?
<br><br><br>
<a href="../eliminarAlumno?cedula={{alumno.cedula}}" class="btn btn-danger">Si, estoy seguro</a>
<a href=".." class="btn btn-success">Regresar al menu</a>

</body>
</html>